<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yuekeju.user.dao.UserDAO">

	<sql id="user_all_column_list">
 	id,yuekeju_code,login_name,name,user_password,user_adress,sex,user_number,
 	user_lock_count,user_lock_time
 	</sql>
	<sql id="user_info_column_list">
 	id,yuekeju_code,login_name,name,user_adress,sex,user_number,
 	last_login_time,create_time,update_time,creater,modified,user_lock_status,
 	user_lock_count,user_lock_time
	 </sql>


	<!--登录sql-->
	<select id="findUserByLoginName" resultType="org.yuekeju.common.entity.user.UserEntity">
		SELECT
		<include refid="user_info_column_list"></include>
		FROM yuekeju_user where login_name=#{loginName} and
		user_password=#{userPassword} and del_tab_status=1 and disable_status=1 and user_lock_status=1
	</select>
	<select id="findUserAllBySearch" resultType="org.yuekeju.common.entity.user.UserEntity"
			parameterType="org.yuekeju.common.vo.user.YuekejuUserVo">
		select
		<include refid="user_info_column_list"></include>
		from yuekeju_user
		<where>
			<if test="loginName!=null and loginName!=''">
				login_name=#{loginName}
			</if>
			<if test="disableStatus!=null and disableStatus!=''">
				disable_status=#{disableStatus}
			</if>
			<if test="userLockStatus!=null and userLockStatus!=''">
				user_lock_status=#{userLockStatus}
			</if>
			<if test="yuekejuCode!=null and yuekejuCode!=''">
				yuekeju_code=#{yuekejuCode}
			</if>
		</where>
		order by ${order}
	</select>
	<!-- 查询盐 -->
	<select id="findSaltByCode" parameterType="java.lang.String" resultType="java.lang.String">
		select salt from yuekeju_user
		<where>
			<if test="yuekejuCode!=null and yuekejuCode=''">
				yuekeju_code =#{yuekejuCode}
			</if>
			<if test="loginName!=null and loginName!=''">
				login_name = #{loginName}
			</if>
		</where>
	</select>
	<!-- 修改用户信息-->
	<update id="updateUser" parameterType="org.yuekeju.common.entity.user.UserEntity">
		update yuekeju_user
		<set>
			<if test="userAdress!=null and userAdress!=''">
				user_adress = #{userAdress}
			</if>
			<if test="sex!=null and sex!=''">
				sex=#{sex}
			</if>
			<if test="salt!=null and salt!=''">
				salt=#{salt}
			</if>
			<if test="delTabStatus!=null and delTabStatus!=''">
				del_tab_status=#{delTabStatus}
			</if>
			<if test="disableStatus!=null and disableStatus!=''">
				disable_status=#{disableStatus}
			</if>
			<if test="lastLoginTime!=null and lastLoginTime!=''">
				last_login_time=#{lastLoginTime}
			</if>
			<if test="userLockStatus!=null and userLockStatus!=''">
				user_lock_status=#{userLockStatus}
			</if>
			<if test="userLockCount!=null and userLockCount!=''">
				user_lock_count=#{userLockCount}
			</if>
			<if test="userLockTime!=null and userLockTime!=''">
				user_lock_time=#{userLockTime}
			</if>
		</set>
		<where>
			<if test="loginName!=null and loginName!=''">
				login_name=#{loginName}
			</if>
			<if test="yuekejuCode!=null and yuekejuCode!=''">
				yuekeju_code=#{yuekejuCode}
			</if>
		</where>
	</update>
</mapper>
