<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yuekeju.sys.user.provider.dao.YuekejuPermissionDAO">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.yuekeju.common.entity.user.YuekejuPermissionEntity">
        <id column="id" property="id" />
        <result column="yuekeju_code" property="yuekejuCode" />
        <result column="permission_name" property="permissionName" />
        <result column="permission_description" property="permissionDescription" />
        <result column="permission_url" property="permissionUrl" />
        <result column="permission_perms" property="permissionPerms" />
        <result column="permission_parent_id" property="permissionParentId" />
        <result column="permission_type" property="permissionType" />
        <result column="pemission_order_num" property="pemissionOrderNum" />
        <result column="permission_icon" property="permissionIcon" />
        <result column="del_tab_status" property="delTabStatus" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="creater" property="creater" />
        <result column="modified" property="modified" />
    </resultMap>
    <sql id="findAll">
    	yuekeju_code,permission_name,permission_url,permission_perms,permission_parent_id,permission_type,pemission_order_num,permission_icon,del_tab_status
    </sql>
	<!-- 根据父id查询 -->
	<select id="findAllPermission" resultType="org.yuekeju.common.entity.user.YuekejuPermissionEntity" parameterType="java.lang.String">
		SELECT
		yuekeju.yuekeju_code,yuekeju.permission_name,yuekeju.permission_url,
		yuekeju.permission_perms,yuekeju.permission_parent_id,yuekeju.permission_type,
		yuekeju.pemission_order_num,yuekeju.permission_icon,yuekeju.del_tab_status,(select p.permission_name from yuekeju_permission p where p.yuekeju_code = yuekeju.permission_parent_id) as permissionParentName
	    FROM  yuekeju_permission yuekeju
	    where permission_parent_id=#{prantId} and del_tab_status = 0
	    order by pemission_order_num
	    
	</select>
	<select id="findAllByMenuPermission" resultType="org.yuekeju.common.entity.user.YuekejuPermissionEntity" parameterType="java.lang.String">
		SELECT
		yuekeju.yuekeju_code,yuekeju.permission_name,yuekeju.permission_url,
		yuekeju.permission_perms,yuekeju.permission_parent_id,yuekeju.permission_type,
		yuekeju.pemission_order_num,yuekeju.permission_icon,yuekeju.del_tab_status,(select p.permission_name from yuekeju_permission p where p.yuekeju_code = yuekeju.permission_parent_id) as permissionParentName
	    FROM  yuekeju_permission yuekeju
	    where yuekeju.permission_parent_id=#{prantId} and yuekeju.permission_type in (0,1) and yuekeju.del_tab_status = 0
	    order by yuekeju.pemission_order_num
	</select>
	<select id="findByYuekejuCode" resultType="org.yuekeju.common.entity.user.YuekejuPermissionEntity" parameterType="java.lang.String">
		SELECT
		yuekeju.yuekeju_code,yuekeju.permission_name,yuekeju.permission_url,
		yuekeju.permission_perms,yuekeju.permission_parent_id,yuekeju.permission_type,yuekeju.permission_description,
		yuekeju.pemission_order_num,yuekeju.permission_icon,yuekeju.del_tab_status,(select p.permission_name from yuekeju_permission p where p.yuekeju_code = yuekeju.permission_parent_id) as permissionParentName
		from yuekeju_permission yuekeju where yuekeju.yuekeju_code=#{yuekejuCode} and yuekeju.del_tab_status = 0
	</select>
	<update id="updatePermissionDelTag" parameterType="java.util.Map">
		update yuekeju_permission 
		<set>
		  <if test="delTabStatus!=null and delTabStatus!=''">
		  	del_tab_status =#{delTabStatus}
		  </if>
		</set>
		<where>
			yuekeju_code  in
			<foreach  open="(" close=")" collection="yuekejuCode" item="code" separator=",">
				#{code}
			</foreach>
		</where>
	</update>

</mapper>
