<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yuekeju.sys.user.provider.dao.YuekejuDeptDAO">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.yuekeju.common.entity.user.YuekejuDeptEntity">
        <id column="id" property="id" />
        <result column="yuekeju_code" property="yuekejuCode" />
        <result column="dept_en_name" property="deptEnName" />
        <result column="dept_cn_name" property="deptCnName" />
        <result column="dept_parent_id" property="deptParentId" />
        <result column="dept_order_num" property="deptOrderNum" />
        <result column="dept_disable" property="deptDisable" />
        <result column="dept_description" property="deptDescription" />
        <result column="dept_code" property="deptCode" />
        <result column="del_tab_status" property="delTabStatus" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="creater" property="creater" />
        <result column="modified" property="modified" />
    </resultMap>
    <sql id="deptColumn">
        yuekeju_code,dept_en_name,dept_cn_name,dept_parent_id,dept_order_num,dept_disable,dept_code,del_tab_status,create_time,update_time,creater,modified,dept_order_num
    </sql>
    <select id="findSearchAll" resultType="org.yuekeju.common.entity.user.YuekejuDeptEntity"
            parameterType="java.util.Map">
        select
        dept.yuekeju_code,dept.dept_en_name,dept.dept_cn_name,dept.dept_parent_id,
        dept.dept_order_num,dept.dept_disable,dept.dept_code,dept.del_tab_status,
        dept.create_time,dept.update_time,dept.creater,dept.modified,
        dept.dept_order_num,parent.dept_cn_name as parentName,dept.is_leaf
        from yuekeju_dept dept join yuekeju_dept parent on parent.yuekeju_code = dept.dept_parent_id
        <where>
            <if test="deptParentId!=null and deptParentId!=''">
                ( dept.dept_parent_id= #{deptParentId} or dept.yuekeju_code=#{deptParentId})
            </if>
            <if test="yuekejuCode!=null and yuekejuCode!=''">
                and dept.yuekeju_code=#{yuekejuCode}
            </if>
            <if test="deptEnName!=null and deptEnName!=''">
                and dept.dept_en_name like concat(#{deptEnName},'%')
            </if>
            <if test="deptCnName!=null and deptCnName!=''">
                and dept.dept_cn_name like concat(#{deptCnName},'%')
            </if>
        </where>
        order by dept_order_num
    </select>
    <select id="findSearchTotal" resultType="java.lang.Integer">
        select
        count(*)
        from yuekeju_dept dept join yuekeju_dept parent on parent.yuekeju_code = dept.dept_parent_id
        <where>
            <if test="deptParentId!=null and deptParentId!=''">
                (dept.dept_parent_id= #{deptParentId} or dept.yuekeju_code=#{deptParentId})
            </if>
            <if test="yuekejuCode!=null and yuekejuCode!=''">
                and dept.yuekeju_code=#{yuekejuCode}
            </if>
            <if test="deptEnName!=null and deptEnName!=''">
                and dept.dept_en_name like concat(#{deptEnName},'%')
            </if>
            <if test="deptCnName!=null and deptCnName!=''">
                and dept.dept_cn_name like concat(#{deptCnName},'%')
            </if>
        </where>

    </select>
    <update id="updateDept" parameterType="org.yuekeju.common.entity.user.YuekejuDeptEntity">
        update yuekeju_dept SET dept_disable =#{deptDisable} WHERE (yuekeju_code =#{yuekejuCode})
    </update>

</mapper>
