<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yuekeju.sys.user.provider.dao.YuekejuRoleDAO">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.yuekeju.common.entity.user.YuekejuRoleEntity">
        <id column="id" property="id" />
        <result column="yuekeju_code" property="yuekejuCode" />
        <result column="role_en_name" property="roleEnName" />
        <result column="role_cn_name" property="roleCnName" />
        <result column="role_description" property="roleDescription" />
        <result column="role_status" property="roleStatus" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="creater" property="creater" />
        <result column="modified" property="modified" />
    </resultMap>
    <sql id="roleColumn">
    	yuekeju_code,role_en_name,role_cn_name,role_description,role_status,create_time,update_time,creater,modified
    </sql>
    
	<select id="findAllBySearch" parameterType="java.util.Map" resultType="org.yuekeju.common.entity.user.YuekejuRoleEntity">
		SELECT 
		<include refid="roleColumn" />
		FROM yuekeju_role
		<where>
			<if test="yuekejuCode!=null and yuekejuCode!=''">
				yuekeju_code=#{yuekejuCode}
			</if>
			<if test="roleStatus!=null and roleStatus!=0">
				role_status=#{roleStatus}
			</if>
		</where>
		order by create_time
		
	</select>



</mapper>
