<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yuekeju.system.provider.dao.YuekejuAppBannerDAO">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.yuekeju.common.entity.system.YuekejuAppBannerEntity">
        <id column="id" property="id" />
        <result column="yuekeju_code" property="yuekejuCode" />
        <result column="title" property="title" />
        <result column="url" property="url" />
        <result column="image_url" property="imageUrl" />
        <result column="status" property="status" />
        <result column="remark" property="remark" />
        <result column="modified" property="modified" />
        <result column="update_time" property="updateTime" />
        <result column="creater" property="creater" />
        <result column="create_time" property="createTime" />
        <result column="del_tab_status" property="delTabStatus" />
    </resultMap>
    <sql id="baseSql">
    	id,yuekeju_code,title,url,image_url,status,remark,modified,update_time,creater,create_time,del_tab_status
    </sql>
	<select id="findBannerBySeach"  resultType="org.yuekeju.common.entity.system.YuekejuAppBannerEntity" parameterType="java.util.Map">
		SELECT 
		<include refid="baseSql" />
		FROM yuekeju_app_banner 
		<if test="id!=null and  id!=0">
			id=#{id}
		</if>
		<if test="status!=null and  status!=0">
			status=#{status}
		</if>
		<if test="delTabStatus!=null and delTabStatus!=0">
			del_tab_status=#{delTabStatus}
		</if>
	</select>
	

</mapper>
